@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

body {
  background-color: #e4fbff;
}
html,
body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}
